.App {
  display: flex;
  width: 100%;
  height: 100vh;
}

.col1 {
  flex: 0 0 200px;
}

.col2 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  flex: 1 0 100px;
}

.col3 {
  flex: 0 0 300px;
}

.select-cal-type {
  width: 100px;
}
